@import "./reset.scss";

// Theme colors, try to use them instead of hard coded colors
:root {
  --primary: #e0488c;

  --bg-1: #111111;
  --bg-2: #333333;
  --text-1: white;
}

* {
  box-sizing: border-box;
}

html {
  font-family: quicksand,
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: var(--bg-1);
  color: var(--text-1);
}
